[Unit]
Description=PolicyKit Authentication Agent
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/libexec/kf6/polkit-kde-authentication-agent-1
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
