[Unit]
Description=Idle management daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Restart=on-failure
RestartSec=2
ExecStart=/usr/bin/swayidle -w before-sleep 'noctalia-shell ipc call lockScreen lock'

[Install]
WantedBy=graphical-session.target
